$main-color: #eee;
$square-side: 100px;
$padding: 10px;
$gap: 1px;
$cell-height: 500px;
$cell-width: $square-side * 7 + $gap * 6 + $padding * 2;
$hover_animation_duration: 500ms;
$hover_transform_value: -20px;
